*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/.idea/*
*.iml
/config/database.yml
*/.DS_Store
.DS_Store
/db/schema.rb
/public/audios/*
/public/assets/*
/public/images/*
.tags
.tags_sorted_by_file

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
