// Place all the styles related to the hot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  margin-bottom: 40px;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #e7e7e7;
  background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#00ffffff',GradientType=0 );
}

ul {
  padding-left: 0;
  border-top: 1px solid #e7e7e7;
}

ul li {
  list-style: none;
}

ul li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.supplement {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom:30px;
}